<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        Ticketee
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <% flash.each do |key, message| %>
        <div><%= message %></div>
      <% end %>

      <div class="text-center">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% unless user_signed_in? %>
            <li class="<%= 'active' if current_page?('/users/sign_up')%>"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
            <li class="<%= 'active' if current_page?('/users/sign_in') %>"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>

      <% if user_signed_in? %>
        <div class="navbar-right">
          <p class="navbar-text">
            Signed in as <%= current_user.email %>
          </p>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger ml-1" %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
